# Archivos que GitHub debe ignorar (no rastrear ni subir al repositorio)

# Archivos temporales de Python
__pycache__/
*.pyc

# Archivos de entorno (.env)
.env
*.env

# Archivos de Terraform : Estado y configuración local (datos de infrastructura o credenciales)
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars

# Entornos virtuales y basura del sistema: Entornos virtuales de Python y archivos de sistema de macOS
**/.venv
**/venv
**/.DS_Store
