# Define variables que configuran el comportamiento de la aplicación y su conexión a la base de datos
APP_NAME=CloudOps Orchestrator
DB_HOST=db      
DB_PASSWORD=cloudops
DB_NAME=cloudops
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin